/* navbar */
body {
  margin: 0;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 13%;
  background-color: #020216;
  border-right: 0.5px solid white;
  border-radius: 4px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

li a.active {
  background-color: white;
  color: black;
}

li a:hover:not(.active) {
  background-color: white;
  color: black;
}
.check{
  margin-left: 50%;
}
